
html {
    background-color: grey;
    height: 100%;
    Width: 100%;
    
}

body {
    height: 100%;
    width:100%;
    margin:0;

}

.backgroundimage1, .backgroundimage2, .backgroundimage3 {
    margin: auto;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundimage1 {
    background-image: url(../Personal.website/images/Pressingapples.JPG);
    min-height: 100%;
}

.backgroundimage2 {
    background-image: url(../Personal.website/images/TorreCiderFarmSheep.JPG);
    min-height: 100%;
}

.backgroundimage3 { 
    background-image: url(../Personal.website/images/ChristmasCider.JPG);
    min-height: 100%;
}

.container {
    text-align: center;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
}

footer {
    font-size: 15px;
    text-align: center;
    padding: 20px;
}
a {
    padding: 20px;
}
/*a hover { 
    color: red;
}*/

h1 {
    font-size: 50px;
    color: red;
}

p {
    font-size: 30px;
    color: black;
    position: center;
    text-align: center;
}